/**
 * Labels
 */
.label-margin-vertical {
  margin-bottom: 6px !important;
}
.label-margin-horizontal {
  margin-left: 3px !important;
  margin-right: 3px !important;
}
.user-location .icon{
  width: 10px !important;
}
/**
 * Items
 */
.item-row {
  padding: 1.5em !important;
}
.item-dark {
  background: #e8e8e8 !important;
}
/**
 * Misc
 */
.loader-centered {
  margin-top: 150px;
  margin-bottom: 150px;
}
.padding-small {
  padding: 10px;
}
.social-links {
  margin-bottom: 20px;
}
.project-statistic {
  margin-bottom: 0 !important;
}
.user-statistics {
  justify-content: center;
}
.profile-left {
  background: #e8e8e8;
}