.container-fullscreen {
  position: fixed;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background: rgba(0, 87, 255, 0.75);
}
.search-container {
  transition: 1s all;
  width: 100%;

  h1 {
    text-align: center;
    color: white;
  }

  .search-box {
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .error {
      color: red;
  }
}